body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  background-image:url('download\ \(1\).jpg');
  margin: 0;
  padding: 0;
  background-repeat: repeat; /* Prevents the image from repeating */
  /* Optionally, you can set the background to cover the entire viewport */
  background-attachment: fixed;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .select-container {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .country-list {
    list-style: none;
    padding: 0;
  }
  
  .country-list li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .country-list li:hover {
    color: rgb(253, 0, 0);
  }
  